<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room 33</title>
    <link rel="stylesheet" href="../static/css/layout.css">
</head>

<body>
    <h1>Hello to room 33</h1>
    <a href="/room" class="button">Room info</a>
    <a href="/events" class="button">Event planer</a>
    <a href="/monitoring" class="button">Monitoring</a>
    <a href="/energyConsumption" class="button">Consumption</a>
    <a href="/login" class="button">Log In</a>
    <a href="/logout" class="button">Log Out</a>
</body>
</html>