<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/layout.css">
    <title>Room 33</title>
</head>
<body>
    <h1>Room 33 login</h1>
    <form action="/login" method="post">
        <label for="uname"><b>E-mail</b></label>
        <input type="text" placeholder="Enter E-mail" name="email" required><br/>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required><br/>

        <button class = "button" type="submit">Login</button>
    </form>
</body>
</html>