<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room 33</title>
    <link rel="stylesheet" href="../static/css/layout.css">
</head>
<body>
    <a href="/" class="button">Home</a>
    <h1>Here is more info about Room 33</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aliquid facere est nemo cumque ab vero alias iure? Beatae illum aut, sapiente reprehenderit repudiandae ipsam cumque saepe quod impedit autem!</p>
    <div class="container">
        <img src="../static/images/building.jpg" alt="building">
        <img src="../static/images/livingroom.jpg" alt="living room">
        <img src="../static/images/eating.jpg" alt="eating room">
        <img src="../static/images/kitchen.jpg" alt="kitchen">
        <img src="../static/images/bathroom.jpg" alt="bathroom">
        <img src="../static/images/bedroom.jpg" alt="bedroom">
    </div>
</body>
</html>